<footer class="footer">
	<div class="container">
		<p>© 2026 Peter Kaagman | <a href="/page/license">Licentie</a> | <a href="/page/privacy">Privacy</a> | Contact: <a href="mailto:prjv.kaagman@gmail.com">Peter Kaagman</a></p>
	</div>
</footer>