<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

<% FOREACH url IN urls %>
  <url>
    <loc><% base_url %><% url.path %></loc>
    <% IF url.lastmod %><lastmod><% url.lastmod %></lastmod> <% END %>
  </url>
<% END %>

</urlset>
