{
    "@type": "BreadcrumbList",
    "@id": "<% base_url %><% path %>#breadcrumb",
    "itemListElement": [
        <% FOREACH crumb IN breadcrumbs %>
            {
                "@type": "ListItem",
                "position": <% loop.count %>,
                "item": {
                    "@id": "<% base_url %><% crumb.url %>",
                    "name": "<% crumb.name %>"
                }
            }<% UNLESS loop.last %>,<% END %>
        <% END %>
    ]
}
