<% IF articles.size %>
  <h1>Artikelen met het keyword: <% keyword.title %></h1>
  <ul>
    <% FOREACH article IN articles %>
      <li>
        <a href="<% article.canonicalURL %>">
          <% article.title %>
        </a>
      </li>
    <% END %>
  </ul>
<% ELSE %>
  <h1>Geen artikelen gevonden met dit keyword.</h1>
<% END %>
