<% IF list.size %>
  <h1>Artikelen met het keyword: <% keyword.title %></h1>
  <ul>
    <% FOREACH article IN list %>
      <li>
        <a href="<% base_url %><% article.url %>">
          <% article.title %>
        </a>@<% article.created %><br>
        <p><% article.abstract %></p>
      </li>
    <% END %>
  </ul>
<% ELSE %>
  <h1>Geen artikelen gevonden met dit keyword.</h1>
<% END %>
